# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Diretórios de dependências
node_modules


# Arquivos temporários ou específicos de plataforma
*.local
*.env
.env

#ignorar api
.firebaseConfig.js

# Diretórios de saída
dist
dist-ssr
build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Outros arquivos temporários
.webpack/
.next/
.parcel-cache/

