
.background-image {
    width: 100%;
    height: auto;
    position: absolute;
    filter: brightness(55%);
}

.container-login {
    background-color: #030303;
    width: 150vh;
    height: 80vh;
    border-radius: 2%;
  
}


@media(max-width: 600px) {
    .background-image {
        width: 50vh;
        height: 20vh;
    }
}

@media (max-width:1200px) {
    .container-login {
        position: absolute;
        border-radius: 0;
        width: 100%;
    }
}
