@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    overflow: hidden;
    background-color: #030303;
    color: white;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 1200px) {
    :root {
        overflow: auto;
    }
}

